[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
pinecone-client = "==2.2.2"
tqdm = "==4.65.0"
tiktoken = "==0.4.0"
python-dotenv = "*"
elevenlabs = "*"
bs4 = "*"
youtube-transcript-api = "*"
langchain-core = "*"
openai = "==0.27.8"
langchain = "==0.0.202"
pydantic = "*"
boto3 = "==1.18.12"

[dev-packages]

[requires]
python_version = "3.10"
